
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/


.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db
desktop.ini

Packages/*
!/Packages/manifest.json
!/Packages/packages-lock.json